<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <%= product.orders.each do |order| %>
    <%= order.invoice_id %><br>
  <% end %><br>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(response) {
        var inventoryText = "<strong>Sold Out</strong>";
        if(response["inventory"] > 0){
          inventoryText = "<strong>Available</strong>";
        }
        var orderLIs = response["orders"].map(function (order) {
          return "<li>" + order["id"] + " -- " + order["created_at"] + "</li>"}).join('');
        var descriptionInfo = response["description"];
        var descriptionText = "<p>" + descriptionInfo + "</p><p>" + inventoryText + "</p><ul>" + orderLIs + "</ul>";
        $("#product-" + id).html(descriptionText);
    });
  });
});
</script>
